body {
    background-color:rgb(241, 241, 233);
}
h1 {
    position: fixed;
    left: 172px;
    top:8px
}
h2 {
    position: fixed;
    left: 170px;
    top: 60px;
    font-size: 18px;
}
li{
    position: relative;
    left: 360px;
    float: left;
    }
li a {
    display: block;
    color: rgb(86, 86, 148);
    text-align: center;
    font-family:'Gill Sans MT';
    font-size: 16px;
    padding: 14px 20px;
    text-decoration: none;
}
li span{
    display: block;
    color: rgb(86, 86, 148);
    text-align: center;
    font-family:'Gill Sans MT';
    font-size: 16px;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover {
    background-color:rgb(127, 162, 228);
}
#book {
    background-color:white;
    position: fixed;
    left: 170px;
    top:182px;
    width: 660px;
    padding: 100px;
    margin:10px;
}
#note {
    background-color:white;
    position: fixed;
    left: 170px;
    top:430px;
    width: 660px;
    padding: 100px;
    margin:10px;
}
