<!DOCTYE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    	{% load staticfiles %}
        <title>阅读与思辨</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/kooshine.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reading_page.css'%}">
	<script src = "{% static 'js/reading.js'}"></script>
    </head>
    <body>
        <div id="header">
            <h1 >Reading</h1>
            <h2 >阅读与思辨永不停歇</h2>
        </div>
        <div id="nav">
            <div style="position:relative; left:-120px;">
            <ul>
                <li><a href="#">书单推荐</a>    <!--书单推荐通过下拉菜单显示---->
                    <div class="lists">
                        <ul>
                            <li><a href="#">每周一书</a></li>
                            <li><a href="#">猜你喜欢</a></li>
                        </ul>
                    </div>
                </li>
                <li><a  href="#home">读书笔记</a></li>
                <li><a  href="#home">相关工具</a></li>
                <li><a  href="#home">书写</a></li>
                <li><a  href="#about">关于</a></li>
            </ul>
            </div>
        </div>
        <div id="main_content">
            <div id="book">
               "尔之短处，在言语欠钝讷，举止欠端庄，看书不能深入，而作文不能峥嵘。若能从此叁事上下一番苦功，进之以猛，持之以恒，不过一二年，自尔精进而不觉。"
            </div>
            <div id="note">
                看见更大的世界
            </div>
            <div id="tag">

            </div>
        </div>
        <div id="footer">
            <p>Copyright &#169 2019 KooShine</p>
        </div>
    </body>
</html>
